*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Allan";
    src: url(font/Charm-Bold.ttf);
}


body{
    background: 
        linear-gradient(rgba(73, 66, 66, 0.404), rgba(73, 66, 66, 0.404)),
        url(image/login.png);

    background-size: 350px 400px;
    transition: background-size 1s;
}

.get-it{
    background: 
        linear-gradient(rgba(236, 255, 131, 0.158), rgba(222, 253, 85, 0.178)),
        url(image/bgKayaknya.png) repeat;
    background-size: 300px 300px;
}

.pertanyaan{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(100, 94, 85, 0.712);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(68, 64, 59, 0.712);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: transform 1s;
}

.get-per{
    opacity: .9;
    background: url(image/bgLove.png);
    transform: translate(-50%, -50%) scale(1.1);
}

.pernyataan{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%);

    font-size: 2em;
    font-family: Allan;

    opacity: 0;
    transition: 1s;
}

.get-par{
    opacity: 1;
}

.pertanyaan h1{
    margin: 20px;
}

.input{
    display: grid;
    grid-template-columns: 90px 200px;
    gap: 20px 0;
}

.inputText{
    border: none;
    border-radius: 10px;
    padding: 5px;

    background-color: rgba(240, 248, 255, 0.158);
}

.Button{
    flex: 1;
    margin-top: 30px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 60px;

    background-color: rgba(250, 235, 215, 0.281);

    font-size: .7em;
    font-weight: bold;
}

.Button:hover{
    transform: scale(1.1);
    background-color: antiquewhite;
    box-shadow: 2px 2px 10px rgba(68, 64, 59, 0.712);
}