*{
    margin: 0;
    padding: 0;
}

.container{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    position: relative;
}

.image img{
    height: 400px;
    border-radius: 50%;
    box-shadow: 10px 20px 200px red;
}

.image button{
    border-radius: 50%;
    border: none;
}

.text{
    position: absolute;
    bottom: 150px;
    right: 40px;
    left: 50px;
    z-index: 1;

    background-color: rgba(255, 114, 109, 0.582);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(255, 108, 108, 0.459);

    opacity: 1;
}

.text.show{
    animation: top-left 2s;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    opacity: 1;
}

@keyframes top-left{
    0%{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 250px;
        height: 150px;
    }
    100%{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 250px;
        height: 150px;
    }
}