*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Allan";
    src: url(font/Charm-Bold.ttf);
}

body{
    background: 
        linear-gradient(rgba(236, 255, 131, 0.158), rgba(222, 253, 85, 0.178)),
        url(image/bgKayaknya.png) repeat;
    background-size: 300px 300px;
}

.image{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image img{
    height: 400px;
    border-radius: 50%;
    box-shadow: 10px 20px 200px red;
}

.image button{
    border-radius: 50%;
    border: none;
}

.text{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    display: flex;
    align-items: center;

    height: 250px;
    width: 300px;

    background: url(image/textbg.png) no-repeat;
    background-size: 340px 270px;
    padding: 10px 20px;
    box-shadow: 2px 2px 10px rgba(255, 108, 108, 0.137);

    font-size: 1em;
    font-family: Allan;
    text-align: justify;
    opacity: 0;
}

.topLeft{
    animation: topLeft 3s forwards;
}

.topRight{
    animation: topRight 3s forwards;
}

.bottomLeft{
    animation: bottomLeft 3s forwards;
}

.bottomRight{
    animation: bottomRight 3s forwards;
}

@keyframes topLeft{
    0%{

    }
    50%{
        transform: translate(-450px, -300px);
        opacity: 1;
    }
    100%{
        transform: translate(-700px, -450px);
        opacity: 1;
    }
}

@keyframes topRight{
    0%{

    }
    50%{
        transform: translate(150px, -300px);
        opacity: 1;
    }
    100%{
        transform: translate(390px, -450px);
        opacity: 1;
    }
}

@keyframes bottomLeft{
    0%{

    }
    50%{
        transform: translate(-450px, 200px);
        opacity: 1;
    }
    100%{
        transform: translate(-700px, 200px);
        opacity: 1;
    }
}

@keyframes bottomRight{
    0%{

    }
    50%{
        transform: translate(150px, 200px);
        opacity: 1;
    }
    100%{
        transform: translate(390px, 200px);
        opacity: 1;
    }
}
